:root{
  --shadow: grey;
  --default_back: #D2EAEF;
  --default_light: #B4EFFD;
  --default_front: #646464;
}

.page-wrapper, .body-inner {
  background-color: #E6E6E6;
}

section.normal{
  counter-reset: step-counter;
  background-color: var(--default_back) !important;
}

.table-wrapper {
  margin-bottom: 30px;
  overflow-x: scroll !important;
}

.table-wrapper > table {
  margin-bottom: 0 !important;
}

q {
  margin-left: 50px;
}

p.caption{
  margin: 0 30px;
  font-size:.9em;
}

.figure{
  text-align: center;
}

.main-container {
  background-color: var(--default_back);
  color: var(--default_front);
}

section h1 {
  font-size: 24px;
  color: var(--default_back);
  background-color: var(--default_front);
  padding: 20px;
  border-radius: 0px 8px 8px 0px;
  margin: 20px 50px 40px -15px;
}

section.normal a {
  color: inherit !important;
  text-decoration: underline !important;
}

p code, li code {
  background-color: inherit !important;
}

h4.author{
  font-size: .8em;
}

h4.date{
  font-size: .8em;
}

pre {
  background-color: var(--default_light);
  border: none;
}

pre:not([class]) {
  background-color: var(--default_back);
  border: none;
}

.section ol {
  list-style: none;
}

.section ol li {
  padding: 20px;
  margin: 5px;
  list-style: none;
  width: 80%;
  color: var(--default_back);
  background-color: var(--default_front);
}

.section ol:before {
  content: url("step.svg");
  width: 80%;
  display: block;
  padding: 5px 10px 0;
  margin-bottom: 0;
}

.section ol li::before {
  content: counter(step-counter) ". ";
  counter-increment: step-counter;
  font-size: 2em;
  font-weight: bold;
}

div.book-header {
  background-image: url("../img/AP_Logo_Wide_White_NL.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  background-size: 150px 50px !important;
  margin-right: 20px !important;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}